.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  overflow: hidden;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border-radius: var(--border-radius-default);
  padding: 2rem;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-text-question p {
  margin-top: 1.7rem;
  text-align: center;
}

.modal-content-text-question p:last-child {
  margin: 0;
  font-size: 1.4rem;
  font-family: monospace;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form */
.modal-title-close {
  font-size: 1.9rem;
  font-weight: 700;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-direction: center;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.form input:first-child {
  margin-top: 0;
}

.form input {
  background-color: var(--color-input-background);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 0;
  outline: 0;
  border-radius: var(--border-radius-default);
}

#form-error {
  border-left: 1rem solid var(--color-input-alert);
}

.form select {
  background-color: var(--color-input-background);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 0;
  outline: 0;
  border-radius: var(--border-radius-default);
}

.form span {
  color: var(--color-input-alert);
  margin: 0.5rem 0;
}

.form input[type=submit] {
  background-color: var(--color-primary);
  color: var(--color-title-in-primary);
  cursor: pointer;
}
