.header-container {
  width: 100vw;
  height: 4rem;
  background-color: var(--color-box-base);
  color: var(--color-primary);
  padding: 0 3rem 0 2rem;
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container button {
  width: 4rem;
  height: 100%;
  background-color: var(--color-box-base);
  border: none;
  cursor: pointer;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.header-container span {
  font-weight: 700;
}
