.title-tasks {
  color: var(--color-text-title);
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.task {
  width: 90vw;
  max-width: 700px;
  margin-bottom: 0.8rem;
  background-color: var(--color-box-base);
  padding: 1rem 1.4rem;
  border-radius: 0.3rem;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task p {
  color: var(--color-text-base);
}

.task button {
  width: 4rem;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.task span {
  color: var(--color-text-complement);
}

.task-pomos {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.completed-tasks {
  width: 100%;

  display: flex;
  align-items: center;
}

.completed-tasks button {
  margin: 0 auto;
  background-color: var(--color-box-base);
  color: var(--color-text-complement);
  font-size: 1.3rem;
  padding: .4rem .8rem;
  border: 0px;
  border-radius: var(--border-radius-default);
  cursor: pointer;

  display: flex;
  align-items: center;
}

.completed-tasks span {
  margin-right: .5rem;
}
