.title-tasks {
  color: var(--color-text-title);
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.task {
  width: 90vw;
  max-width: 700px;
  margin-bottom: 0.8rem;
  background-color: var(--color-box-base);
  padding: 1rem 1.4rem;
  border-radius: 0.3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task p {
  color: var(--color-text-base);
}

.task span {
  color: var(--color-text-complement);
}

.task-pomos {
  display: flex;
  align-items: center;
}
