:root {
  --color-background: #F0F0F7;
  --color-primary-lighter:#4F5266;
  --color-primary-light: #3C3F51;
  --color-primary: #303244;
  --color-primary-dark: #292b3c;
  --color-primary-darker: #1b1d29;
  --color-secundary: #2DEFCE;
  --color-secundary-dark: #01D9B2;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #3C3F51;
  --color-text-complement: #686D82;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-input-alert: #bb1e3c;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-base-updated: #fde871;
  --color-box-footer: #FAFAFC;

  --border-radius-default: 0.3rem;

  --updated-element-seconds: 3s;

  font-size: 65%;
}

@keyframes updated-element {
  0% {background-color: var(--color-box-base);}
  10% {background-color: var(--color-box-base-updated);}
  100% {background-color: var(--color-box-base);}
}

.updated-element {
  animation-name: updated-element;
  animation-duration: var(--updated-element-seconds);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100vh;
}

#root {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

body,
input,
select,
button,
textarea {
  font: 400 1.6rem Roboto Condensed;
  color: var(--color-text-base);
}

button {
  outline: none;
}

.container {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
}

.icon {
  margin-left: 0.5rem;
  color: var(--color-primary);
}

.icon:hover {
  color: var(--color-primary-darker);
}

.form-buttons-modal {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-buttons-modal input[type=submit] {
  background-color: var(--color-primary);
  color: var(--color-title-in-primary);
  cursor: pointer;
}

.form-buttons-modal button {
  width: 4rem;
  margin-left: 1rem;
  background-color: var(--color-input-alert);
  color: var(--color-title-in-primary);
  border: none;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.9rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-buttons-modal-question {
  margin-top: 1.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-buttons-modal-question button {
  width: 6rem;
  margin-left: 1rem;
  background-color: var(--color-input-alert);
  color: var(--color-title-in-primary);
  border: none;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-buttons-modal-question button:last-child {
  background-color: var(--color-primary);
}

@media (min-width: 700px) {
  :root {
    font-size: 75%;
  }
}
