:root {
  --color-background: #F0F0F7;
  --color-primary-lighter:#4F5266;
  --color-primary-light: #3C3F51;
  --color-primary: #303244;
  --color-primary-dark: #292b3c;
  --color-primary-darker: #1b1d29;
  --color-secundary: #2DEFCE;
  --color-secundary-dark: #01D9B2;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #3C3F51;
  --color-text-complement: #686D82;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-input-alert: #bb1e3c;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  --border-radius-default: 0.3rem;

  font-size: 65%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100vh;
}

#root {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

body,
input,
select,
button,
textarea {
  font: 400 1.6rem Roboto Condensed;
  color: var(--color-text-base);
}

button {
  outline: none;
}

.container {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
}

.icon {
  margin-left: 0.5rem;
  color: var(--color-primary);
}

.icon:hover {
  color: var(--color-primary-darker);
}

@media (min-width: 700px) {
  :root {
    font-size: 75%;
  }
}
